@import '../../../styles.scss';
@import '../../pages/dashboard/dashboard.component.scss';

:host {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: $color-secondary;
    overflow-y: scroll;
}

.title {
    color: $color-primary-text;
    background-color: $color-primary;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100%;
    position: sticky;
    top: 0;
}