<div class="navbar">
    <h2 class="full-title">Budgeteer</h2>
    <h2 class="small-title">B</h2>
    <ul>
        <!-- Dashboard Route -->
        <li class="route">
            <a routerLinkActive="active" routerLink="/dashboard">
                <i class="material-icons-round">dashboard</i>
                <div>Dashboard</div>
            </a>
        </li>
        <!-- Calendar Route -->
        <li class="route">
            <a routerLinkActive="active" routerLink="/calendar">
                <i class="material-icons-round">today</i>
                <div>Calendar</div>
            </a>
        </li>
        <!-- Budget Route -->
        <li class="route">
            <a routerLinkActive="active" routerLink="/budget">
                <i class="material-icons-round">paid</i>
                <div>Budget</div>
            </a>
        </li>
        <!-- Transactions Route -->
        <li class="route">
            <a routerLinkActive="active" routerLink="/transactions">
                <i class="material-icons-round">shopping_bag</i>
                <div>Transactions</div>
            </a>
        </li>
        <!-- Settings Route -->
        <li class="route">
            <a routerLinkActive="active" routerLink="/settings">
                <i class="material-icons-round">settings</i>
                <div>Settings</div>
            </a>
        </li>
    </ul>
</div>